@import 'https://fonts.googleapis.com/earlyaccess/notosansjapanese.css';.headingArea
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiZmZhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')                ;background-image: linear-gradient(to bottom, #0c3fff,#8bffac);background-size: 100%;
}.index .introduction
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4ZmRkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4NWFhMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')                ;background-image: linear-gradient(to bottom, #88fdd3,#285aa3);background-size: 100%;
}@font-face
{
    font-family: 'URW DIN Black';font-weight: normal;font-style: normal;src: url('../fonts/URW++ - URW DIN Cond Black.woff') format('woff'),url('../fonts/URW++ - URW DIN Cond Black.ttf') format('truetype');
}@font-face
{
    font-family: 'URW DIN Bold';font-weight: normal;font-style: normal;src: url('../fonts/URW++ - URW DIN Cond Bold.woff') format('woff'),url('../fonts/URW++ - URW DIN Cond Bold.ttf') format('truetype');
}@font-face
{
    font-family: 'URW DIN Medium';font-weight: normal;font-style: normal;src: url('../fonts/URW++ - URW DIN Cond Medium.woff') format('woff'),url('../fonts/URW++ - URW DIN Cond Medium.ttf') format('truetype');
}@-webkit-keyframes floatRL
{
    0%
    {
        right: -50%;
    }100%
    {
        right: 150%;
    }
}@keyframes floatRL
{
    0%
    {
        right: -50%;
    }100%
    {
        right: 150%;
    }
}@-webkit-keyframes floatLR
{
    0%
    {
        right: 150%;
    }100%
    {
        right: -50%;
    }
}@keyframes floatLR
{
    0%
    {
        right: 150%;
    }100%
    {
        right: -50%;
    }
}::-moz-selection
{
    background-color: rgba(12,63,255,.3);
}::selection
{
    background-color: rgba(12,63,255,.3);
}html
{font-family: 'Noto Sans Japanese','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
    font-size: 14px;font-weight: 200;line-height: 1.75;position: relative;color: #3a3a3a;-webkit-text-size-adjust: 100%;
}@media screen and (max-width: 580px)
{
    html
    {
        font-size: 13px;
    }
}body
{margin-top: 0;margin-right: auto;margin-bottom: 0;margin-left: auto;
    padding-top: 120px;
}@media screen and (max-width: 780px)
{
    body
    {
        padding-top: 60px;
    }
}h1,
h2,
h3,
h4,
h5,
h6
{font-size: inherit;font-weight: inherit;

    margin-top: 0;margin-bottom: 0;
}ul
{
    margin-top: 0;margin-bottom: 0;padding-left: 0;list-style-position: inside;
}dl
{
    padding-left: 0;
}dd
{
    padding-left: 0;
}figure
{
    margin: 0;
}img,
iframe,
object
{line-height: 1;

    max-width: 100%;height: auto;
}input,
textarea
{
    outline: none;
}input:focus,
input:active,
textarea:focus,
textarea:active
{
    border: none;
}a
{transition: all .5s ease 0s;
    text-decoration: none;color: #12aaaf;outline: none;
}a,
a img
{
    border: none;
}a button
{
    padding: 0;border: none;background: 0;
}a:hover,
a:active,
a:focus
{
    color: #0b676a;
}a img
{
    transition: all .5s ease 0s;
}a img:hover,
a img:active,
a img:focus
{opacity: .87;

    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
}button
{
    cursor: pointer;outline: none;
}.contain,
.inner
{box-sizing: border-box;
    max-width: 976px;margin-right: auto;margin-left: auto;
}.wrap
{
    max-width: 1100px;margin-right: auto;margin-left: auto;padding-right: 30px;padding-left: 30px;
}@media screen and (max-width: 580px)
{
    .wrap
    {padding-right: 5%;
        padding-left: 5%;
    }
}.clearfix
{
    *zoom: 1;
}.clearfix:after
{display: table;clear: both;

    content: '';
}.spShow
{
    display: none;
}@media screen and (max-width: 580px)
{
    .spHide
    {
        display: none;
    }.spShow
    {
        display: inherit;
    }
}.tabShow
{
    display: none;
}@media screen and (max-width: 780px)
{
    .tabHide
    {
        display: none;
    }.tabShow
    {
        display: inherit;
    }
}.xxlarge
{
    font-size: 2.8em;
}.xlarge
{
    font-size: 2em;
}.large
{
    font-size: 1.5em;
}.small
{
    font-size: .85714em;
}.dinBold
{
    font-family: 'URW DIN Bold';
}.dinMedium
{
    font-family: 'URW DIN Medium';
}.dinLight
{
    font-family: 'URW DIN Light';
}.icon-twitter:before
{font-family: fontawesome;font-size: 22px;font-weight: normal;font-style: normal;font-variant: normal;line-height: 1;position: relative;top: 0;left: 0;display: inline-block;margin-right: 0;

    content: '';-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);vertical-align: middle;text-transform: none;color: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}html.ie8 .icon-twitter:before
{font-family: inherit;

    content: '>';
}.icon-facebook:before
{font-family: fontawesome;font-size: 22px;font-weight: normal;font-style: normal;font-variant: normal;line-height: 1;position: relative;top: 0;left: 0;display: inline-block;margin-right: 0;

    content: '';-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);vertical-align: middle;text-transform: none;color: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}html.ie8 .icon-facebook:before
{font-family: inherit;

    content: '>';
}.icon-instagram:before
{font-family: fontawesome;font-size: 22px;font-weight: normal;font-style: normal;font-variant: normal;line-height: 1;position: relative;top: 0;left: 0;display: inline-block;margin-right: 0;

    content: '';-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);vertical-align: middle;text-transform: none;color: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}html.ie8 .icon-instagram:before
{font-family: inherit;

    content: '>';
}.icon-address:before
{font-family: fontawesome;font-size: 22px;font-weight: normal;font-style: normal;font-variant: normal;line-height: 1;position: relative;top: 0;left: 0;display: inline-block;margin-right: 0;

    content: '';-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);vertical-align: middle;text-transform: none;color: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}html.ie8 .icon-address:before
{font-family: inherit;

    content: '>';
}.ef
{
    transition: all .5s ease-in-out 0s;
}.ef.ef-floatup
{
    -webkit-transform: translateY(10px)                                                ;-ms-transform: translateY(10px);transform: translateY(10px);opacity: 0;
}.ef.ef-floatup.doEffect
{-webkit-transform: translateY(0)                            ;-ms-transform: translateY(0);transform: translateY(0);

    opacity: 1;
}.siteHeader
{
    line-height: 1;position: fixed;z-index: 10;top: 0;right: 0;left: 0;padding-top: 40px;padding-bottom: 40px;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
}@media screen and (max-width: 780px)
{
    .siteHeader
    {
        padding-top: 15px;padding-bottom: 15px;
    }
}.siteHeader:after
{position: absolute;right: 0;bottom: 0;left: 0;display: block;width: 0;height: 2px;margin: auto;

    content: '';transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;transition-delay: .35s;background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiZmZhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-image: linear-gradient(to right, #0c3fff,#8bffac);background-size: 100%;
}@media screen and (max-width: 780px)
{
    .siteHeader:after
    {
        display: none;
    }
}.siteHeader.scrolled
{
    background-color: rgba(255,255,255,.95);
}.siteHeader.scrolled:after
{
    width: 100%;
}.navOpen .siteHeader.scrolled
{
    color: #fff;background-color: transparent;
}.siteHeader > .wrap
{position: relative;

    display: -webkit-box                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;flex-direction: row;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
}@media screen and (max-width: 780px)
{
    .siteHeader > .wrap
    {
        display: block;
    }
}@media screen and (max-width: 780px)
{
    .siteHeader > .wrap .siteHeader_logo,
    .siteHeader > .wrap .siteHeader_nav
    {
        display: block;
    }
}.siteHeader_word
{font-size: 10px;
    line-height: 1;position: absolute;top: -35px;right: 0;color: #aaa;
}@media screen and (max-width: 780px)
{
    .siteHeader_word
    {
        display: none;
    }
}.siteHeader_logo
{line-height: 1;position: relative;

    width: 200px;margin-top: 0;margin-bottom: 0;text-align: left;
}.siteHeader_logo polygon,
.siteHeader_logo path
{
    fill: #6cbb6b;
}.siteHeader_logo a
{
    color: inherit;
}@media screen and (max-width: 780px)
{
    .siteHeader_logo
    {margin-right: auto;margin-left: auto;

        text-align: center;
    }
}@media screen and (max-width: 780px)
{
    .navOpen .scrolled .siteHeader_logo polygon,
    .navOpen .scrolled .siteHeader_logo path
    {
        fill: #fff;
    }
}@media screen and (max-width: 780px)
{
    .siteHeader
    {
        color: #fff;
    }
}.siteHeader_nav
{font-size: .9em;

    letter-spacing: .04em;
}@media screen and (max-width: 780px)
{
    .siteHeader_nav
    {font-size: 1em;

        position: fixed;top: -100%;right: 0;bottom: 0;left: 0;pointer-events: none;
    }.siteHeader_nav:after
    {font-family: 'URW DIN Medium';font-size: 30vw;position: absolute;top: -100%;display: block;

        content: 'DEVELOP \A FOR \A THE \A FUTURE';-webkit-transform: translateY(-50%) translateX(10px);-ms-transform: translateY(-50%) translateX(10px);transform: translateY(-50%) translateX(10px);white-space: pre;opacity: 0;color: #0831ff;
    }.siteHeader_nav li
    {font-size: 16px;font-weight: bold;position: relative;z-index: -10;

        display: block;-webkit-transform: scaleX(1.2) translateX(30px);-ms-transform: scaleX(1.2) translateX(30px);transform: scaleX(1.2) translateX(30px);opacity: 0;
    }.siteHeader_nav li:not(:last-child)
    {
        margin-bottom: 30px;
    }.siteHeader_nav li a
    {
        pointer-events: none;
    }.navOpen .siteHeader_nav
    {
        top: 0;pointer-events: auto;
    }.navOpen .siteHeader_nav .nav
    {
        position: relative;z-index: 10;
    }.navOpen .siteHeader_nav li
    {transition: all .3s ease 0s;-webkit-transform: scaleX(1) translateX(0);-ms-transform: scaleX(1) translateX(0);transform: scaleX(1) translateX(0);

        opacity: 1;
    }.navOpen .siteHeader_nav li a
    {z-index: 9;

        pointer-events: auto;
    }.navOpen .siteHeader_nav:after
    {
        top: 50%;transition-delay: .7s;transition-timing-function: ease;transition-duration: .4s;transition-property: opacity, -webkit-transform;transition-property: opacity, transform;transition-property: opacity, transform, -webkit-transform;-webkit-transform: translateY(-50%) translateX(0px);-ms-transform: translateY(-50%) translateX(0px);transform: translateY(-50%) translateX(0px);opacity: 1;
    }.siteHeader_nav .nav
    {z-index: -1;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:         flex;flex-direction: column;

        width: 100%;height: 100%;text-align: right;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: end;-webkit-align-items: flex-end;-ms-flex-align: end;align-items: flex-end;
    }
}.siteHeader_nav li
{
    line-height: 1;display: inline-block;list-style: none;text-align: center;vertical-align: middle;
}.siteHeader_nav li a
{padding-right: 30px;padding-left: 30px;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;letter-spacing: .15em;

    color: inherit;
}.siteHeader_nav li:not(:last-child) a
{
    border-right: solid 1px #ddd;
}@media screen and (max-width: 780px)
{
    .siteHeader_nav li:not(:last-child) a
    {
        border: none;
    }
}.siteHeader_nav li:last-child
{
    margin-right: 0;
}.siteHeader_nav li.current,
.siteHeader_nav li.current-menu-item
{font-weight: 500;

    color: #6cbb6b !important;
}.siteHeader_nav li.current a,
.siteHeader_nav li.current-menu-item a
{
    pointer-events: none;
}.scrolled .siteHeader_nav li
{
    color: #3a3a3a;
}@media screen and (max-width: 780px)
{
    .scrolled .siteHeader_nav li
    {
        color: #fff;
    }
}.navOpen .scrolled .siteHeader_nav li
{
    color: #fff;
}.nav li a
{
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s        ;transition: all .5s ease 0s;
}.nav li a:hover,
.nav li a:active,
.nav li a:focus
{
    opacity: .75;
}body:after
{
    content: '';
}.navToggle
{
    display: none;
}@media screen and (max-width: 780px)
{
    .navToggle
    {
        position: fixed;z-index: 10;right: 2%;bottom: 2%;display: block;transition: all .5s ease 0s;
    }.navToggle_hitArea
    {line-height: 1;z-index: 100;display: block;box-sizing: border-box;
        width: 50px;height: 50px;cursor: pointer;
    }.navToggle_oct
    {transition: all .5s linear 0s;

        opacity: .95;fill: #0028ed;stroke-width: 1px;stroke: #fff;stroke-dasharray: 200px;stroke-dashoffset: -200px;
    }.navToggle:hover .navToggle_oct,
    .navToggle:active .navToggle_oct,
    .navToggle:focus .navToggle_oct
    {
        opacity: 1;stroke-dashoffset: 0;
    }.navToggle_hitArea_line
    {transition: all .5s cubic-bezier(.785, .135, .15, .86) 0s;

        stroke: #fff;fill: #fff;
    }.navOpen .navToggle_hitArea_line.-lineTop
    {-webkit-transform: translateY(9px) rotate(45deg)                                            ;-ms-transform: translateY(9px) rotate(45deg);transform: translateY(9px) rotate(45deg);
        -webkit-transform-origin: 50%;-ms-transform-origin: 50%;transform-origin: 50%;
    }.navOpen .navToggle_hitArea_line.-lineButtom
    {-webkit-transform: translateY(-9px) rotate(135deg)                                            ;-ms-transform: translateY(-9px) rotate(135deg);transform: translateY(-9px) rotate(135deg);
        -webkit-transform-origin: 50%;-ms-transform-origin: 50%;transform-origin: 50%;
    }.navOpen .navToggle_hitArea_line.-lineCenter
    {
        opacity: 0;
    }.navOpen .navToggle_oct
    {
        opacity: 1;stroke-dashoffset: 0;
    }
}body:after
{position: fixed;z-index: 8;top: 0;right: 0;bottom: 0;display: block;width: 0;height: 100%;margin: auto;

    content: ' ';transition: all 1s ease 0s;
}@media screen and (max-width: 780px)
{
    body.navOpen:after
    {
        width: 100%;transition-delay: .2s;
    }
}body:after
{
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;background-color: #0028ed;
}body:before
{
    background-color: #dae1fd;
}.sns
{
    position: relative;
}@media screen and (max-width: 580px)
{
    .sns
    {
        position: static;
    }
}.snsList
{
    margin-top: 100px;text-align: center;
}@media screen and (max-width: 780px)
{
    .snsList
    {
        margin-top: 50px;
    }
}.snsList li
{display: inline-block;

    vertical-align: middle;
}.snsList li:first-child
{
    margin-right: 40px;
}.snsList a
{display: block;

    color: #666;
}.siteFooter
{font-size: .85714em;

    margin-top: 45px;padding-top: 50px;padding-bottom: 15px;text-align: center;letter-spacing: .05em;color: #666;background-color: #fafafa;
}@media screen and (max-width: 780px)
{
    .siteFooter
    {
        font-size: 10px;padding-top: 40px;
    }
}.siteFooter_ci
{
    margin-bottom: 20px;
}@media screen and (max-width: 780px)
{
    .siteFooter_ci
    {
        margin-bottom: 10px;
    }
}.siteFooter_ci .ci
{
    display: inline-block;vertical-align: middle;
}.siteFooter_ci .ci.-old
{
    margin-left: 30px;
}.siteFooter_info
{
    font-weight: 500;margin-bottom: 15px;
}@media screen and (max-width: 780px)
{
    .siteFooter_info
    {
        margin-bottom: 10px;
    }
}.siteFooter_address
{
    margin-bottom: 45px;
}@media screen and (max-width: 780px)
{
    .siteFooter_address
    {
        margin-bottom: 30px;
    }
}.siteFooter_address .address
{
    font-style: normal;margin-bottom: 20px;
}.siteFooter_address .address a
{display: inline-block;

    margin-left: 10px;vertical-align: bottom;
}.siteFooter_address .button
{
    max-width: 300px;margin-right: auto;margin-left: auto;
}.siteFooter_address .button button
{
    letter-spacing: .01em;
}.siteFooter .icon-address
{
    color: #0c3fff;
}.siteFooter .nav
{
    margin-bottom: 10px;
}.siteFooter .nav li
{
    line-height: 1;display: inline-block;list-style: none;text-align: center;vertical-align: middle;
}.siteFooter .nav li a
{padding-right: 30px;padding-left: 30px;

    color: inherit;
}.siteFooter .nav li:not(:last-child) a
{
    border-right: solid 1px #ddd;
}@media screen and (max-width: 780px)
{
    .siteFooter .nav li:not(:last-child) a
    {
        border-right: none;
    }
}.siteFooter .nav li:last-child
{
    margin-right: 0;
}.siteFooter_copyright
{
    color: #ddd;
}.button
{font-style: normal;
    line-height: 1;position: relative;display: block;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;text-align: center;border-radius: 2px;
}.button button
{
    font-family: 'Noto Sans Japanese','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
}.button.-inquiry
{transition: all .5s ease 0s;

    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiZmZhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')                    ;background-image: linear-gradient(to right, #0c3fff,#8bffac);background-size: 100%;
}.button.-inquiry:hover,
.button.-inquiry:active,
.button.-inquiry:focus
{
    background-size: 200%;
}.button.-inquiry:hover .button_arrow,
.button.-inquiry:active .button_arrow,
.button.-inquiry:focus .button_arrow
{
    stroke-dasharray: 270%;stroke-dashoffset: 100%;
}.button.-inquiry .button_arrow
{position: absolute;top: 0;right: 0;bottom: 0;

    height: 2px;margin: auto;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;stroke-width: 1.5px;
}.button.-inquiry > *
{
    padding: 15px;color: #fff;
}.button.-toEnter
{
    max-width: 450px;
}.button.-toEnter > button
{font-weight: bold;

    padding-top: 30px;padding-bottom: 30px;letter-spacing: .33em;
}@media screen and (max-width: 580px)
{
    .button.-toEnter > button
    {padding-top: 25px;padding-bottom: 25px;

        letter-spacing: .15em;
    }
}.button.-viewCasestudy
{
    display: inline-block;padding: 1px;transition: all .5s ease 0s;background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiZmZhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-image: linear-gradient(to right, #0c3fff,#8bffac);background-size: 100%;
}.button.-viewCasestudy:hover,
.button.-viewCasestudy:active,
.button.-viewCasestudy:focus
{
    background-position: 50%;background-size: 200%;
}.button.-viewCasestudy:hover > *,
.button.-viewCasestudy:active > *,
.button.-viewCasestudy:focus > *
{
    color: #3a3a3a;
}.button.-viewCasestudy > button
{font-family: 'URW DIN Medium';box-sizing: border-box;
    width: 100%;padding: 15px 10px;text-align: center;letter-spacing: .15em;color: #666;background-color: #fff;
}.button.-comingsoon,
.button.-disabled
{pointer-events: none;

    border: none;background: none;
}.button.-comingsoon > button,
.button.-disabled > button
{
    padding: 0;color: #ddd;
}.styleTable
{
    width: 100%;border-collapse: collapse;
}.styleTable th,
.styleTable td
{
    padding-top: 30px;padding-right: 10px;padding-bottom: 30px;
}@media screen and (max-width: 780px)
{
    .styleTable th,
    .styleTable td
    {
        padding-top: 20px;padding-bottom: 20px;
    }
}.styleTable tr
{
    border-bottom: solid 1px #ccc;
}.styleTable th
{font-weight: bold;

    text-align: left;letter-spacing: .6em;
}.styleTable th.styleTable_index
{text-align: center;border-top: solid 1px #ccc;
    background-color: #f5fdff;
}@media screen and (max-width: 780px)
{
    .styleTable th
    {
        letter-spacing: .25em;
    }
}.styleTable td
{
    letter-spacing: .14em;
}.backToTop
{position: absolute;top: 0;right: 5%;bottom: 0;

    width: 5px;margin-top: auto;margin-bottom: auto;
}@media screen and (max-width: 580px)
{
    .backToTop
    {position: fixed;z-index: 2;top: auto;bottom: 10px;left: 5%;

        width: 5px;
    }
}#loadingAnim
{position: fixed;z-index: 11;top: 0;right: 0;bottom: 0;left: 0;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:         flex;overflow: hidden;flex-direction: row;

    width: 100%;height: 100%;transition: all .5s cubic-bezier(.785, .135, .15, .86) 0s;transition-delay: 1s;background-color: #0c3fff;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
}#loadingAnim svg
{
    width: 100px;height: 100px;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;fill: none;
}#loadingAnim text
{font-family: 'URW DIN Medium';
    line-height: 1;position: relative;overflow: hidden;height: 1em;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;text-align: center;letter-spacing: .015em;fill: #fff;stroke: 1px;
}#loadingAnim .loadingAnim_path
{
    display: block;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;stroke: #fff;stroke-width: 1px;stroke-dashoffset: 290px;
}#loadingAnim .loadingAnim_circle
{
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;fill: #8bffac;
}.isLoaded #loadingAnim
{
    top: -10%;height: 0;background-color: #fff;
}.isLoaded #loadingAnim text
{
    -webkit-transform: rotateY(90deg)                        ;transform: rotateY(90deg);
}.isLoaded #loadingAnim .loadingAnim_circle
{
    opacity: 0;
}.isLoaded #loadingAnim .loadingAnim_path
{
    stroke-dasharray: 290px;
}.loading
{overflow: hidden;

    width: 100%;height: 100%;
}html:before
{position: fixed;z-index: 100;top: 0;bottom: 0;left: 0;display: block;width: 0;height: 100%;

    content: ' ';transition: all .45s cubic-bezier(.785, .135, .15, .86) 0s;background-color: #0c3fff;
}.pjax-fetch:before
{
    width: 100%;
}.pjax-unload:before
{
    background-color: #7290ff;
}.pjax-ready:after
{
    background-color: #a5b8ff;
}.pjax-loaded:before
{right: 0;left: auto;

    width: 0;
}.headingArea
{
    position: relative;text-align: center;color: #fff;
}.headingArea canvas
{position: absolute;z-index: 0;top: 0;right: 0;bottom: 0;left: 0;

    max-width: 100%;height: auto;opacity: .15;mix-blend-mode: overlay;
}.headingArea_copy
{font-size: 2em;position: relative;z-index: 1;

    padding-top: 100px;padding-bottom: 100px;vertical-align: middle;text-shadow: 0 0 10px #666;
}@media screen and (max-width: 580px)
{
    .headingArea_copy
    {
        font-size: 1.5em;
    }
}.headingArea_copy_en
{font-family: 'URW DIN Bold';

    letter-spacing: .33em;
}.headingArea_copy_ja
{
    font-weight: 500;letter-spacing: .2em;
}.pageNav
{line-height: 1;display: table;

    width: 100%;margin-bottom: 100px;table-layout: fixed;border-bottom: solid 1px #ccc;
}@media screen and (max-width: 780px)
{
    .pageNav
    {
        margin-bottom: 60px;
    }
}.pageNav_anchor
{font-weight: 500;

    display: table-cell;text-align: center;vertical-align: middle;letter-spacing: .33em;
}@media screen and (max-width: 580px)
{
    .pageNav_anchor
    {
        letter-spacing: .25em;
    }
}.pageNav_anchor:not(:last-child)
{
    border-right: solid 1px #ccc;
}.pageNav a
{position: relative;display: block;

    padding: 30px 15px;transition: all .5s ease 0s;color: inherit;
}@media screen and (max-width: 580px)
{
    .pageNav a
    {font-size: .85714em;

        padding: 15px 7px;
    }
}.pageNav a:before
{position: absolute;bottom: -1px;left: 0;display: block;width: 0;height: 1px;

    content: ' ';transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;background-color: #0c3fff;
}.pageNav a:hover,
.pageNav a:active,
.pageNav a:focus
{
    opacity: .8;
}.pageNav a:hover:before,
.pageNav a:active:before,
.pageNav a:focus:before
{
    width: 100%;
}.pageNav a:hover .arrow,
.pageNav a:active .arrow,
.pageNav a:focus .arrow
{
    stroke-dashoffset: -100px;
}.pageNav .arrow
{line-height: 1;position: absolute;top: 0;right: 5px;bottom: 0;

    width: 30px;height: 5px;margin-top: auto;margin-bottom: auto;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
}@media screen and (max-width: 580px)
{
    .pageNav .arrow
    {top: auto;bottom: 5px;

        width: 15px;
    }
}.section + .section
{
    margin-top: 80px;
}.section_content.wrap
{
    max-width: 900px;
}.section_index
{font-size: 1.5em;
    line-height: 1;position: relative;margin-bottom: 60px;text-align: center;
}@media screen and (max-width: 580px)
{
    .section_index
    {
        margin-bottom: 30px;
    }
}.section_index_en
{font-family: 'URW DIN Bold';position: relative;display: block;

    width: 100%;letter-spacing: .33em;
}.section_index_en svg text
{
    text-align: center;
}.section_index_en span
{position: relative;z-index: 1;display: inline-block;padding-right: 20px;
    padding-left: 20px;background-color: #fff;
}.section_index_en:after
{position: absolute;top: 0;right: 0;bottom: 0;display: block;width: 100%;height: 1px;margin-top: auto;margin-bottom: auto;

    content: ' ';background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiZmZhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-image: linear-gradient(to right, #0c3fff,#8bffac);background-size: 100%;
}.section_index_ja
{font-weight: 500;display: block;

    margin-top: 20px;letter-spacing: .5em;
}.toEntry
{
    margin-top: 80px;text-align: center;
}@media screen and (max-width: 580px)
{
    .toEntry
    {
        margin-top: 55px;
    }
}.toEntry .button
{margin-right: auto;
    margin-left: auto;
}.toEntry_attention
{font-size: .85714em;

    margin-top: 20px;color: #666;
}.index
{
    padding-top: 0;
}.index .siteHeader
{
    padding-top: 40px;padding-bottom: 20px;
}@media screen and (max-width: 580px)
{
    .index .siteHeader
    {
        padding-top: 25px;
    }
}.index .siteHeader polygon,
.index .siteHeader path
{
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;fill: #fff;
}.index .siteHeader.scrolled
{
    padding-top: 20px;
}.index .siteHeader.scrolled polygon,
.index .siteHeader.scrolled path
{
    fill: #6cbb6b;
}.index .siteHeader.scrolled li
{
    color: inherit;
}.index .siteHeader li
{
    color: #fff;
}.index .mainvisual
{position: relative;overflow: hidden;

    height: 100vh;text-align: center;background-color: blue;background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiZmZhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-image: linear-gradient(to bottom, #0c3fff,#8bffac);background-size: 100%;
}@media screen and (max-width: 580px)
{
    .index .mainvisual
    {
        height: calc( 100vh - 60px );
    }
}.index .mainvisual .wrap
{position: absolute;z-index: 8;top: 25%;right: 0;left: 0;overflow: hidden;box-sizing: border-box;
    width: 100%;margin-right: auto;margin-left: auto;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);
}@media screen and (max-width: 580px)
{
    .index .mainvisual .wrap
    {
        top: 27vh;
    }
}.index .mainvisual_copy
{
    color: #fff;
}.index .mainvisual_copy .firstRow,
.index .mainvisual_copy .secondRow
{
    margin-right: .5em;
}@media screen and (max-width: 580px)
{
    .index .mainvisual_copy .firstRow,
    .index .mainvisual_copy .secondRow
    {display: block;

        margin-right: 0;
    }
}@media screen and (max-width: 580px)
{
    .index .mainvisual_copy .lastRow
    {display: block;

        margin-right: -.5em;
    }
}.index .mainvisual_copy_en
{font-family: 'URW DIN Bold';font-size: 50px;

    margin-top: 0;margin-bottom: 20px;letter-spacing: .261em;
}@media screen and (max-width: 580px)
{
    .index .mainvisual_copy_en
    {font-size: 30px;
        line-height: 1.4;margin-bottom: 20px;
    }
}.index .mainvisual_copy_ja
{font-size: 1.64286em;
    font-weight: 500;letter-spacing: .33em;
}@media screen and (max-width: 580px)
{
    .index .mainvisual_copy_ja
    {
        font-size: 15px;font-weight: 800;
    }
}.index .mainvisual_graphic
{position: absolute;top: 0;right: 0;bottom: 0;left: 0;

    width: 100%;height: 100%;margin: auto;
}.index .mainvisual .airplane,
.index .mainvisual .cloud,
.index .mainvisual .cloud_1,
.index .mainvisual .cloud_2,
.index .mainvisual .cloud_3,
.index .mainvisual .building,
.index .mainvisual .building_front,
.index .mainvisual .building_behind
{position: absolute;display: block;

    width: 100%;
}.index .mainvisual .airplane:before,
.index .mainvisual .cloud_1:before,
.index .mainvisual .cloud_2:before,
.index .mainvisual .cloud_3:before,
.index .mainvisual .building_front:before,
.index .mainvisual .building_behind:before
{display: block;overflow: hidden;height: 0;

    content: ' ';background-repeat: no-repeat;background-position: left top;background-size: 100% auto;
}.index .mainvisual .airplane
{z-index: 6;right: 100%;bottom: 50%;

    max-width: 180px;-webkit-animation: floatLR 14s linear 10s 1 both;animation: floatLR 14s linear 10s 1 both;will-change: right;
}@media screen and (max-width: 580px)
{
    .index .mainvisual .airplane
    {
        width: 120px;
    }
}.index .mainvisual .airplane.RtoL
{-webkit-transform: rotateY(180deg)                                                        ;transform: rotateY(180deg);
    -webkit-animation-name: floatRL;animation-name: floatRL;
}.index .mainvisual .airplane:before
{
    padding-top: 26.11111%;background-image: url(../img/mainvisual-jet.svg);
}.index .mainvisual .cloud
{top: 60px;right: 0;left: 0;

    height: 100%;will-change: transform;
}.index .mainvisual .cloud_1
{z-index: 4;right: 0;bottom: 50%;

    max-width: 142px;
}@media screen and (max-width: 580px)
{
    .index .mainvisual .cloud_1
    {
        width: 102px;
    }
}.index .mainvisual .cloud_1:before
{
    padding-top: 30.98592%;background-image: url(../img/mainvisual-cloud-1.svg);
}.index .mainvisual .cloud_2
{z-index: 2;right: 95%;bottom: 35%;

    max-width: 133px;
}@media screen and (max-width: 580px)
{
    .index .mainvisual .cloud_2
    {
        width: 93px;
    }
}.index .mainvisual .cloud_2:before
{
    padding-top: 33.83459%;background-image: url(../img/mainvisual-cloud-2.svg);
}.index .mainvisual .cloud_3
{right: 70%;bottom: 70%;

    max-width: 174px;
}@media screen and (max-width: 580px)
{
    .index .mainvisual .cloud_3
    {
        width: 134px;
    }
}.index .mainvisual .cloud_3:before
{
    padding-top: 35.05747%;background-image: url(../img/mainvisual-cloud-3.svg);
}.index .mainvisual .building
{right: 0;
    bottom: 0;left: 0;
}.index .mainvisual .building_front,
.index .mainvisual .building_behind
{bottom: 0;

    width: 100%;will-change: transform;
}@media screen and (max-width: 1200px)
{
    .index .mainvisual .building_front,
    .index .mainvisual .building_behind
    {
        width: 1449px;
    }
}@media screen and (max-width: 580px)
{
    .index .mainvisual .building_front,
    .index .mainvisual .building_behind
    {
        width: 1080px;
    }
}.index .mainvisual .building_front
{z-index: 3;
    right: 0;
}@media screen and (max-width: 580px)
{
    .index .mainvisual .building_front
    {
        right: -20%;
    }
}.index .mainvisual .building_front:before
{
    padding-top: 32.85024%;background-image: url(../img/mainvisual-city-front.svg);
}@media screen and (height-max: 786px)
{
    .index .mainvisual .building_front:before
    {
        padding-top: 25.94893%;
    }
}.index .mainvisual .building_behind
{z-index: 1;
    right: 2.56223%;
}@media screen and (max-width: 580px)
{
    .index .mainvisual .building_behind
    {
        right: -16%;
    }
}.index .mainvisual .building_behind:before
{
    padding-top: 19.66874%;background-image: url(../img/mainvisual-city-behind.svg);
}@media screen and (height-max: 786px)
{
    .index .mainvisual .building_behind:before
    {
        padding-top: 12.76743%;
    }
}.index.isLoaded .mainvisual_copy_en .firstRow,
.index.isLoaded .mainvisual_copy_en .secondRow,
.index.isLoaded .mainvisual_copy_en .lastRow
{display: inline-block;

    -webkit-transform: rotateX(90deg)                                    ;transform: rotateX(90deg);
}@media screen and (max-width: 580px)
{
    .index.isLoaded .mainvisual_copy_en .firstRow,
    .index.isLoaded .mainvisual_copy_en .secondRow,
    .index.isLoaded .mainvisual_copy_en .lastRow
    {
        display: block;margin-bottom: 4px;
    }
}.index.isLoaded.loadingAnimEnd .mainvisual_copy_en .firstRow,
.index.isLoaded.loadingAnimEnd .mainvisual_copy_en .secondRow,
.index.isLoaded.loadingAnimEnd .mainvisual_copy_en .lastRow
{transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;transition-delay: 1.5s;
    -webkit-transform: rotateX(0deg);transform: rotateX(0deg);
}.index.isLoaded.loadingAnimEnd .mainvisual_copy_en .secondRow
{
    transition-delay: 1.65s;
}.index.isLoaded.loadingAnimEnd .mainvisual_copy_en .lastRow
{
    transition-delay: 1.8s;
}.index .topics
{
    padding-top: 10px;padding-bottom: 10px;
}.index .topics ul
{
    margin: 0;padding: 0;
}.index .topics a
{
    color: inherit;
}.index .topics .wrap
{
    white-space: nowrap;text-overflow: ellipsis;
}.index .topics .update
{font-size: .85714em;
    line-height: 1;
}.index .topics .update_date,
.index .topics .update_info
{
    display: inline-block;vertical-align: middle;
}.index .topics .update_date
{font-family: 'URW DIN Medium';font-size: 1.1em;

    margin-right: 30px;color: #666;
}.index .topics .update_info
{
    margin-left: 0;
}.index .topics .slick-slide
{
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
}.index .topics .slick-slide.slick-current
{
    -webkit-transform: translateX(0)                                ;-ms-transform: translateX(0);transform: translateX(0);
}.index .introduction
{position: relative;

    margin-bottom: 115px;padding-top: 75px;padding-bottom: 75px;text-align: center;color: #fff;text-shadow: 0 0 10px #aaa;
}.index .introduction canvas
{position: absolute;z-index: 0;top: 0;right: 0;bottom: 0;left: 0;

    overflow: hidden;max-width: 100%;height: auto;opacity: .15;mix-blend-mode: overlay;
}@media screen and (max-width: 780px)
{
    .index .introduction
    {
        margin-bottom: 50px;padding-top: 55px;padding-bottom: 55px;
    }
}.index .introduction_index
{font-family: 'URW DIN Medium';font-size: 2em;position: relative;z-index: 1;

    margin-bottom: 40px;letter-spacing: .33em;
}@media screen and (max-width: 780px)
{
    .index .introduction_index
    {font-size: 1.4em;margin-bottom: 25px;

        letter-spacing: .2em;
    }
}.index .introduction_content
{line-height: 2em;position: relative;z-index: 1;

    padding-top: 0;padding-bottom: 0;letter-spacing: .25em;-webkit-font-feature-settings: 'palt';font-feature-settings: 'palt';
}.index .siteMap
{
    display: -webkit-box                                                                                                                                ;display: -webkit-flex;display: -ms-flexbox;display:         flex;flex-direction: row;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: stretch;-webkit-align-items: stretch;-ms-flex-align: stretch;align-items: stretch;
}@media screen and (max-width: 780px)
{
    .index .siteMap
    {
        -webkit-flex-wrap: wrap                                                ;-ms-flex-wrap: wrap;flex-wrap: wrap;
    }
}.index .siteMap li
{line-height: 1;display: block;

    width: calc( 25% - 45px);
}@media screen and (max-width: 780px)
{
    .index .siteMap li
    {
        width: 48%;
    }
}.index .siteMap li a
{position: relative;display: block;

    padding-top: 50px;padding-right: 30px;padding-bottom: 50px;transition: all .5s ease 0s;color: inherit;border-top: solid 1px #ccc;border-bottom: solid 1px #ccc;
}@media screen and (max-width: 780px)
{
    .index .siteMap li a
    {
        padding-top: 25px;padding-bottom: 25px;border-top: none;
    }
}.index .siteMap li a:hover:before,
.index .siteMap li a:active:before,
.index .siteMap li a:focus:before
{
    width: 100%;
}@supports (-webkit-background-clip: text)
{
    .index .siteMap li a:hover .siteMap_en,
    .index .siteMap li a:active .siteMap_en,
    .index .siteMap li a:focus .siteMap_en
    {
        color: transparent;background-position: 100% 0;background-size: 100%;
    }
}.index .siteMap li a:before
{line-height: 1;position: absolute;top: -1px;right: 0;bottom: 0;left: 0;display: block;width: 0;height: 100%;

    content: ' ';transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;border-top: solid 1px #0c3fff;border-bottom: solid 1px #0c3fff;
}.index .siteMap li a:after
{position: absolute;top: 0;right: 0;bottom: 0;display: block;width: 30px;height: 10px;margin: auto;

    content: '';background: url(../img/icon-arrow-next.svg) center center no-repeat;background-size: 100% auto;
}@media screen and (max-width: 780px)
{
    .index .siteMap li a:after
    {right: 10px;

        width: 25px;
    }
}.index .siteMap_en
{font-family: 'URW DIN Bold';font-size: 2em;position: relative;overflow: hidden;

    margin-top: 0;margin-bottom: 10px;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;letter-spacing: .15em;color: #0c3fff;
}@supports (-webkit-background-clip: text)
{
    .index .siteMap_en
    {background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiZmZhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-image: linear-gradient(to right, #0c3fff,#8bffac);background-position: -100% 0;
        -webkit-background-clip: text;background-clip: text;background-size: 100%;
    }
}@media screen and (max-width: 780px)
{
    .index .siteMap_en
    {
        font-size: 1.5em;
    }
}.index .siteMap_ja
{
    margin-top: 0;margin-bottom: 0;letter-spacing: .15em;color: #666;
}.about .section.-philosophy .intro
{font-weight: 500;
    line-height: 2;text-align: center;letter-spacing: .15em;
}.about .section.-philosophy .philosophy_chart
{margin-top: 50px;

    text-align: center;
}.about .section.-philosophy .philosophy_chart_index
{font-size: 1.5em;font-weight: 500;

    margin-bottom: 40px;text-align: center;letter-spacing: .15em;
}@media screen and (max-width: 580px)
{
    .about .section.-philosophy .philosophy_chart_index
    {
        font-size: 1.15em;margin-bottom: 20px;
    }
}@media screen and (max-width: 580px)
{
    .about .section.-philosophy .philosophy_chart_img
    {padding-right: 5%;
        padding-left: 5%;
    }
}.about .section.-philosophy .philosophy_list
{
    text-align: center;
}.about .section.-philosophy .philosophyList
{
    display: inline-block;text-align: left;
}@media screen and (max-width: 580px)
{
    .about .section.-philosophy .philosophyList
    {
        display: block;
    }
}.about .section.-philosophy .philosophyList li
{
    display: block;
}.about .section.-philosophy .philosophyList dl
{display: table;

    width: 100%;margin-bottom: 20px;margin-left: 0;
}.about .section.-philosophy .philosophyList_index,
.about .section.-philosophy .philosophyList_content
{display: table-cell;

    vertical-align: top;
}.about .section.-philosophy .philosophyList_index
{font-weight: bold;

    width: 210px;letter-spacing: .5em;
}.about .section.-philosophy .philosophyList_index:after
{font-family: 'URW DIN Bold';display: inline-block;margin-left: 20px;

    content: attr(data-en);letter-spacing: .15em;text-transform: uppercase;color: #aaa;
}@media screen and (max-width: 580px)
{
    .about .section.-philosophy .philosophyList_index
    {
        width: 110px;
    }.about .section.-philosophy .philosophyList_index:after
    {font-size: small;display: block;

        margin-left: 0;letter-spacing: .1em;
    }
}.about .section.-philosophy .philosophyList_content
{
    padding-left: 40px;
}@media screen and (max-width: 580px)
{
    .about .section.-philosophy .philosophyList_content
    {
        padding-left: 1em;
    }
}.business .headingArea
{
    margin-bottom: 100px;
}@media screen and (max-width: 780px)
{
    .business .headingArea
    {
        margin-bottom: 60px;
    }
}.business .section.-businessGenre .genre
{
    display: -webkit-box                                                                                                                                                                ;display: -webkit-flex;display: -ms-flexbox;display:         flex;flex-direction: row;text-align: center;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: stretch;-webkit-align-items: stretch;-ms-flex-align: stretch;align-items: stretch;
}@media screen and (max-width: 780px)
{
    .business .section.-businessGenre .genre
    {
        display: block;
    }
}.business .section.-businessGenre .genre_business
{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:         flex;flex-direction: column;

    width: 30%;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;
}@media screen and (max-width: 780px)
{
    .business .section.-businessGenre .genre_business
    {display: block;

        width: auto;padding-right: 5%;padding-left: 5%;
    }.business .section.-businessGenre .genre_business:not(:last-child)
    {
        margin-bottom: 55px;
    }
}.business .section.-businessGenre .genre_business_icon
{
    margin-bottom: 20px;
}@media screen and (max-width: 780px)
{
    .business .section.-businessGenre .genre_business_icon
    {
        margin-bottom: 10px;
    }
}.business .section.-businessGenre .genre_business_en
{font-family: 'URW DIN Bold';font-size: 1.25em;
    line-height: 1;display: block;margin-bottom: 20px;letter-spacing: .333em;
}.business .section.-businessGenre .genre_business_ja
{font-weight: bold;

    margin-bottom: 20px;letter-spacing: .1em;color: #0c3fff;
}@media screen and (max-width: 780px)
{
    .business .section.-businessGenre .genre_business_ja
    {
        line-height: 1.7;margin-bottom: 10px;
    }
}.business .section.-businessGenre .genre_business_content
{font-size: .85714em;

    margin-bottom: 30px;text-align: left;
}@media screen and (max-width: 780px)
{
    .business .section.-businessGenre .genre_business_content
    {
        font-size: 1em;margin-bottom: 20px;
    }
}.business .section.-businessGenre .genre .button
{
    width: 250px;margin-top: auto;margin-right: auto;margin-left: auto;
}.business .section.-supported svg text
{
    fill: linear-gradient(to right, #0c3fff,#8bffac);
}.business .section.-supported .styleTable th
{
    width: 200px;
}@media screen and (max-width: 780px)
{
    .business .section.-supported .styleTable th
    {
        width: 100px;
    }
}.recruit .section.-recruitingInfo .recruitingInfo_category
{font-size: 1.225em;font-weight: 700;

    margin-bottom: 30px;text-align: center;letter-spacing: .33em;
}@media screen and (max-width: 580px)
{
    .recruit .section.-recruitingInfo .recruitingInfo_category
    {
        margin-bottom: 20px;
    }
}.recruit .section.-recruitingInfo .-disabled
{
    color: #aaa;
}.recruit .section.-recruitingInfo .styleTable th
{
    width: 100px;
}@media screen and (max-width: 780px)
{
    .recruit .section.-recruitingInfo .styleTable th
    {
        width: 80px;
    }
}.inquiry .headingArea
{
    margin-bottom: 100px;
}@media screen and (max-width: 780px)
{
    .inquiry .headingArea
    {
        margin-bottom: 60px;
    }
}.inquiry .section.-message
{
    text-align: center;
}.inquiry .section.-message .section_index
{font-size: 2em;

    margin-bottom: 40px;
}@media screen and (max-width: 580px)
{
    .inquiry .section.-message .section_index
    {
        margin-bottom: 30px;
    }
}.inquiry .section.-message .section_index_en
{
    letter-spacing: .14em;
}@media screen and (max-width: 580px)
{
    .inquiry .section.-message .section_index_en svg
    {
        max-width: 100%;height: auto;
    }
}.inquiry .section.-message .section_index_en:after
{
    display: none;
}.inquiry .section.-message .section_content p
{line-height: 2;

    letter-spacing: .14em;
}@media screen and (max-width: 580px)
{
    .inquiry .section.-message .section_content
    {
        text-align: left;
    }.inquiry .section.-message .section_content br
    {display: none;

        width: 0;
    }
}.inquiry .section.-message .intro
{
    font-weight: 500;margin-bottom: 40px;
}@media screen and (max-width: 580px)
{
    .inquiry .section.-message .intro
    {
        margin-bottom: 20px;
    }
}.works .headingArea
{
    margin-bottom: 100px;
}@media screen and (max-width: 780px)
{
    .works .headingArea
    {
        margin-bottom: 60px;
    }
}.works .worksNav
{
    border-bottom: solid 1px #ccc;
}.works .worksNav.-bottom
{border-top: solid 1px #ccc;
    border-bottom: none;
}.works .worksNav .wrap
{
    width: 100%;padding-right: 0;padding-left: 0;
}.worksNav .wrap:not(.slick-slider)
{
    display: table;table-layout: fixed;border-spacing: 4px 0;
}@media screen and (max-width: 780px)
{
    .works .worksNav .wrap
    {
        display: block;
    }
}.works .worksNav.-bottom .worksNav_tab
{
    border-top: none;border-bottom: solid 1px #ccc;
}.works .worksNav.-bottom .worksNav_tab.slick-current
{
    border-bottom-color: #0c3fff;
}.works .worksNav_tab
{
    line-height: 1;position: relative;display: block;box-sizing: border-box;margin-right: 4px;padding-top: 15px;padding-right: 10px;padding-bottom: 15px;padding-left: 10px;transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;transition: all .5s ease 0s;text-align: center;border-top: solid 1px #ccc;border-right: solid 1px #ccc;background-color: #fff;
}.worksNav .wrap:not(.slick-slider) .worksNav_tab
{
    display: table-cell;vertical-align: bottom;
}@media screen and (max-width: 580px)
{
    .works .worksNav_tab
    {display: block;

        width: 100% !important;border-right: none;
    }
}.works .worksNav_tab.slick-current
{
    color: #aaa;border-color: #0c3fff;outline: none;
}@media screen and (max-width: 580px)
{
    .works .worksNav_tab.slick-current:after
    {
        height: 100%;
    }
}.works .worksNav_tab:after
{line-height: 1;position: absolute;top: -1px;bottom: 0;left: 0;display: block;width: 0;height: 100%;

    content: ' ';transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;border-top: solid 1px #0c3fff;
}@media screen and (max-width: 580px)
{
    .works .worksNav_tab:after
    {left: -1px;

        width: 1px;height: 0;border-top: none;border-right: solid 1px #0c3fff;
    }
}.works .worksNav_tab:hover:after,
.works .worksNav_tab:active:after,
.works .worksNav_tab:focus:after
{
    width: 100%;
}@media screen and (max-width: 580px)
{
    .works .worksNav_tab:hover:after,
    .works .worksNav_tab:active:after,
    .works .worksNav_tab:focus:after
    {
        width: 1px;height: 100%;
    }
}.works .worksNav_tab_en
{font-family: 'URW DIN Medium';font-size: 1.2125em;

    margin-bottom: 10px;letter-spacing: .33em;
}@media screen and (max-width: 780px)
{
    .works .worksNav_tab_en
    {
        font-size: .85714em;letter-spacing: .15em;
    }
}@media screen and (max-width: 580px)
{
    .works .worksNav_tab_en
    {font-size: 1.2125em;position: absolute;top: 0;bottom: 0;left: 1em;

        height: 1em;margin-top: auto;margin-bottom: auto;letter-spacing: .33em;opacity: .4;
    }
}.works .worksNav_tab_ja
{
    font-size: .85714em;font-weight: 600;
}@media screen and (max-width: 780px)
{
    .works .worksNav_tab_ja
    {
        font-size: 10px;
    }
}@media screen and (max-width: 580px)
{
    .works .worksNav_tab_ja
    {
        font-size: .85714em;text-align: right;
    }
}.works .section.-works
{
    text-align: center;
}.works .section.-works .worksContent
{
    padding-top: 90px;padding-bottom: 70px;
}.works .section.-works .worksContent.slick-active
{
    outline: none;
}@media screen and (max-width: 580px)
{
    .works .section.-works .worksContent
    {
        padding-top: 40px;padding-bottom: 30px;
    }
}.works .section.-works .worksContent_index
{
    margin-bottom: 40px;text-align: center;
}@media screen and (max-width: 580px)
{
    .works .section.-works .worksContent_index
    {
        margin-bottom: 30px;
    }
}.works .section.-works .worksContent_index_en,
.works .section.-works .worksContent_index_ja
{
    display: block;
}.works .section.-works .worksContent_index_en
{font-family: 'URW DIN Bold';font-size: 2em;
    line-height: 1;margin-bottom: 10px;transition: all .5s ease 0s;letter-spacing: .14em;
}.slick-slide .worksContent_index_en
{-webkit-transform: translateX(20px)                            ;-ms-transform: translateX(20px);transform: translateX(20px);

    opacity: 0;
}.slick-current .worksContent_index_en
{-webkit-transform: translateX(0px)                            ;-ms-transform: translateX(0px);transform: translateX(0px);

    opacity: 1;
}@media screen and (max-width: 580px)
{
    .works .section.-works .worksContent_index_en svg
    {
        max-width: 100%;height: auto;
    }
}.works .section.-works .worksContent_index_ja
{font-size: 1.5em;font-weight: 500;transition: all .5s ease .25s;
    letter-spacing: .33em;
}@media screen and (max-width: 580px)
{
    .works .section.-works .worksContent_index_ja
    {
        letter-spacing: .15em;
    }
}.slick-slide .worksContent_index_ja
{-webkit-transform: translateX(20px)                            ;-ms-transform: translateX(20px);transform: translateX(20px);

    opacity: 0;
}.slick-current .worksContent_index_ja
{-webkit-transform: translateX(0px)                            ;-ms-transform: translateX(0px);transform: translateX(0px);

    opacity: 1;
}.works .section.-works .work
{
    display: -webkit-box                                                                                                                                                                ;display: -webkit-flex;display: -ms-flexbox;display:         flex;flex-direction: row;text-align: center;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: stretch;-webkit-align-items: stretch;-ms-flex-align: stretch;align-items: stretch;
}.works .section.-works .work:after
{display: block;width: 30%;

    content: ' ';
}@media screen and (max-width: 580px)
{
    .works .section.-works .work
    {
        display: block;
    }
}.slick-slide .work_detail
{-webkit-transform: translateX(10px)                            ;-ms-transform: translateX(10px);transform: translateX(10px);

    opacity: 0;
}.slick-current .work_detail
{-webkit-transform: translateX(0px)                            ;-ms-transform: translateX(0px);transform: translateX(0px);

    opacity: 1;
}.works .section.-works .work_detail
{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:         flex;flex-direction: column;

    width: 30%;transition: all .3s ease 0s;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;
}@media screen and (max-width: 580px)
{
    .works .section.-works .work_detail
    {display: block;

        width: auto;padding-right: 5%;padding-left: 5%;
    }.works .section.-works .work_detail:not(:last-child)
    {
        margin-bottom: 45px;
    }
}.works .section.-works .work_detail:nth-child(1)
{
    transition-delay: .5s;
}.works .section.-works .work_detail:nth-child(2)
{
    transition-delay: .65s;
}.works .section.-works .work_detail:nth-child(3)
{
    transition-delay: .8s;
}.works .section.-works .work_detail:nth-child(4)
{
    transition-delay: .95s;
}.works .section.-works .work_detail:nth-child(5)
{
    transition-delay: 1.1s;
}.works .section.-works .work_detail:nth-child(6)
{
    transition-delay: 1.25s;
}.works .section.-works .work_detail:nth-child(7)
{
    transition-delay: 1.4s;
}.works .section.-works .work_detail:nth-child(8)
{
    transition-delay: 1.55s;
}.works .section.-works .work_detail:nth-child(9)
{
    transition-delay: 1.7s;
}.works .section.-works .work_detail:nth-child(10)
{
    transition-delay: 1.85s;
}.works .section.-works .work_detail:nth-child(11)
{
    transition-delay: 2s;
}.works .section.-works .work_detail:nth-child(12)
{
    transition-delay: 2.15s;
}.works .section.-works .work_detail_icon
{
    line-height: 1;margin-bottom: 30px;padding: 30px 10px;text-align: center;border: solid 1px #ccc;
}.-works.section .worksContent.-line .work_detail_icon
{
    padding: 15px 0;
}.works .section.-works .work_detail_icon img
{
    display: inline-block;
}@media screen and (max-width: 780px)
{
    .works .section.-works .work_detail_icon
    {
        margin-bottom: 10px;
    }
}.works .section.-works .work_detail_ja
{font-weight: bold;

    margin-bottom: 20px;letter-spacing: .1em;color: #0c3fff;
}@media screen and (max-width: 780px)
{
    .works .section.-works .work_detail_ja
    {
        line-height: 1.7;margin-bottom: 10px;
    }
}.works .section.-works .work_detail_content
{font-size: .85714em;

    margin-bottom: 30px;text-align: left;
}@media screen and (max-width: 780px)
{
    .works .section.-works .work_detail_content
    {
        font-size: 1em;margin-bottom: 20px;
    }
}.works .section.-works .work .button
{
    width: 250px;margin-top: auto;margin-right: auto;margin-left: auto;
}.works .toEntry_index
{font-weight: bold;

    margin-bottom: 40px;letter-spacing: .14em;
}@media screen and (max-width: 580px)
{
    .works .toEntry_index
    {
        margin-bottom: 25px;
    }
}
