//////////////////////////////////////////

//アニメーション

//include by style.scss

//////////////////////////////////////////


@keyframes floatRL {
	0%{ 
		right: -20%;
	}
	100%{ 
		right: 120%;
	}
}
@keyframes floatLR {
	0%{ 
		right: 120%;
	}
	100%{ 
		right: -20%;
	}
}