//////////////////////////////////////////

//アニメーション

//include by style.scss

//////////////////////////////////////////


@keyframes floatRL {
	0%{ 
		right: -50%;
	}
	100%{ 
		right: 150%;
	}
}
@keyframes floatLR {
	0%{ 
		right: 150%;
	}
	100%{ 
		right: -50%;
	}
}


@keyframes stroke {
	0% {
		stroke-dashoffset: 0px;
		stroke-dasharray: 290px;		
	}
	50%{
		stroke-dashoffset: 290px;
	}
	100% {
		stroke-dashoffset: 580px;
		stroke-dasharray: 290px;		
	}

}