.business
{


//////////////////////

// section

/////////////////////

.headingArea{
	margin-bottom: 100px;
	@include break( tab ){
		margin-bottom: 60px;
	}		
}

.section.-businessGenre{

	.genre{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		text-align: center;
		
		@include break( tab ){
			display: block;
			
		}		
		
		&_business{
			width: percentage(330px / $outerWidth);
			// display: block;	
			display: flex;
			flex-direction: column;
			
			@include break( tab ){
				width: auto;
				padding-left: 5%;
				padding-right: 5%;
				display: block;
				&:not( :last-child ){
					margin-bottom: 55px;
				}
			}
		}

		&_business_icon {
			margin-bottom: 20px;
			@include break( tab ){
				margin-bottom: 10px;
			}
		}

		&_business_en{
			line-height: 1;
			margin-bottom: 20px;
			display: block;
			font-size: 1.25em;
			letter-spacing: 0.333em;
			font-family: $din_bold;
		}
		&_business_ja{
			margin-bottom: 20px;
			letter-spacing: 0.1em;
			font-weight: bold;
			color: $blue;
			@include break( tab ){
				line-height: 1.7;
				margin-bottom: 10px;
			}			
		}

		&_business_content{
			margin-bottom: 30px;
			text-align: left;
			font-size: $small;
			@include break( tab ){
				font-size: 1em;
				margin-bottom: 20px;
			}			
		}

		.button{
			width: 250px;
			margin-top: auto;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.section.-supported{
	svg text{
		fill: linear-gradient( to right, $blue, $green );
	}

	.styleTable{
		th{
			width: 200px;
			
			@include break( tab ){
				width: 100px;
			}			
		}
	}
	
}

}