.recruit
{


//////////////////////

// section

/////////////////////

.section.-recruitingInfo{


	.recruitingInfo{
		&_category{
			margin-bottom: 30px;
			letter-spacing: 0.33em;
			text-align: center;
			font-weight: 700;
			font-size: 1.225em;
	
			@include break( sp ){
				margin-bottom: 20px;
			}			
		}
	}
	.-disabled{
		color: $gray_secondary;
	}

	.styleTable{
		th{
			width: 100px;
			
			@include break( tab ){
				width: 80px;
			}			
		}
	}	
}

}