.index
{
	padding-top: 0;

	// @import "../js/slick/slick.scss";
	// @import "../js/slick/slick-theme.scss";
	

.siteHeader{
	padding-top: 40px;
	padding-bottom: 20px;
	
	@include break( sp ){
		padding-top: 25px;
	}
	
	svg,
	polygon,
	path
	{
		transition: transition();
		fill: #fff;
	}

	&.scrolled {
		padding-top: 20px;
		polygon,
		path
		{
			fill: $coporate_green;
		}	

		li{
			color: inherit;
		}	
	}

	li{
		color: #FFF;
	}
}


//////////////////////

// mainvisual

/////////////////////

.mainvisual{
	height: 100vh;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: blue;	
	@include background-image( linear-gradient( to bottom, $blue, $green ) );	
			
	@include break( sp ){
		height: calc( 100vh - 60px );
	}	
	
	.wrap{
		width: 100%;
		overflow: hidden;
		position: absolute;
		z-index: 8;
		margin-right: auto;
		margin-left: auto;
		top: 25%;
		right: 0;
		left: 0;
		transform: translateY(-50%);
		box-sizing: border-box;	
		
		@include break( sp ){
			top: 27vh;
		}	
	}
	&_copy{
		color: #fff;

		.firstRow,
		.secondRow{
			margin-right: 0.5em;
			@include break( sp ){
				margin-right: 0;
				display: block;
			}
			
		}
		.lastRow{
			@include break( sp ){
				margin-right: -0.5em;
				display: block;
			}
		}		

		&_en{
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 50px;
			letter-spacing: 0.261em;
			font-family: $din_bold;
			
			@include break( sp ){
				line-height: 1.4;
				margin-bottom: 20px;
				font-size: 30px;
			}
		}
		&_ja{
			font-weight: 500;
			letter-spacing: 0.33em;
			font-size: #{(23 / 14)}em;
			@include break( sp ){
				font-size: 15px;
				font-weight: 800;
			}
			
		}
	}

	&_graphic{
		width: 100%;
		height: 100%;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	%parentStyle{
		width:100%;
		display: block;
		position: absolute;
	}
	%beforeStyle{
		content: " ";
		height: 0;
		overflow: hidden;
		display: block;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: left top;
	}

	.airplane{
		max-width: 180px;
		@extend %parentStyle;
		z-index: 6;
		right: 100%;
		bottom: 50%;
		animation: floatLR 14s linear 10s 1 both;
		will-change: right;	
		
		@include break( sp ){
			width: 120px;
		}
		&.RtoL{
			animation-name: floatRL;
			transform: rotateY( 180deg );
		}
		&:before{
			padding-top: percentage( 47/180 );
			background-image: url(../img/mainvisual-jet.svg);
			@extend %beforeStyle;
		}		
	}
	.cloud{
		height: 100%;
		@extend %parentStyle;
		top: 60px;
		right: 0;
		left: 0;	
		will-change: transform;	
		

		&_1{
			max-width: 142px;
			@extend %parentStyle;
			z-index: 4;
			right: 0;
			bottom: 50%;
			
			@include break( sp ){
				width: 102px;
			}

			&:before{
				padding-top: percentage( 44/142 );
				background-image: url(../img/mainvisual-cloud-1.svg);
				@extend %beforeStyle;
			}			
		}
		&_2{
			max-width: 133px;			
			@extend %parentStyle;
			z-index: 2;
			right: 95%;
			bottom: 35%;
			
			@include break( sp ){
				width: 93px;
			}

			&:before{
				padding-top: percentage( 45/133 );
				background-image: url(../img/mainvisual-cloud-2.svg);
				@extend %beforeStyle;
			}			
		}
		&_3{
			max-width: 174px;
			@extend %parentStyle;
			right: 70%;
			bottom: 70%;
			
			@include break( sp ){
				width: 134px;
			}

			&:before{
				padding-top: percentage( 61/174 );
				background-image: url(../img/mainvisual-cloud-3.svg);
				@extend %beforeStyle;
			}			
		}				
	}	
	
	.building{
		@extend %parentStyle;
		bottom: 0;
		right: 0;
		left: 0;
		
		&_front,
		&_behind{
			width: 100%;
			bottom: 0;
			will-change: transform;	
			
			@include break( pc ){
				width: 1449px;
				
			}
			
			@include break( sp ){
				width: 1080px;
			}			
		}

		
		&_front{
			@extend %parentStyle;
			// max-width: 1449px;
			right: 0;
			z-index: 3;
			@include break( sp ){
				right: -20%;
			}					
			
			&:before{
				padding-top: percentage( 476/1449 );
				background-image: url(../img/mainvisual-city-front.svg);
				@extend %beforeStyle;
				
				@include break( 786, height, max ){
					padding-top: percentage( 376/1449 );
				}

				@include break( sp ){

					// padding-top: 50%;
					// background-size: auto 100%;
				}					
			}	
		}

		&_behind{
			@extend %parentStyle;
			// max-width: 1449px;
			right: percentage( 35/1366 );
			z-index: 1;
			@include break( sp ){
				right: -16%;
			}			
			&:before{
				padding-top: percentage( 285/1449 );
				background-image: url(../img/mainvisual-city-behind.svg);
				@extend %beforeStyle;
				@include break( 786, height, max ){
					padding-top: percentage( 185/1449 );
				}	
				@include break( sp ){
					// padding-top: 30%;
					// background-size: auto 100%;
				}
			}	
		}

	}	
}

&.isLoaded{
	.mainvisual_copy_en span{
		display: inline-block;
		@include break( tab ){
			display: block;
			margin-bottom: 4px;
		}
	}
	.mainvisual_copy_en span,
	.mainvisual_copy_ja{
			transform: rotateX( 90deg );	
	}

	&.loadingAnimEnd{
		.mainvisual_copy_en span,
		.mainvisual_copy_ja{
			transform: rotateX( 0deg );
			transition: transition();
		}		
		.mainvisual_copy_en span{
			transition-delay: 1.35s;
		}
		.mainvisual_copy_ja{
			transition-delay: 1.55s;			
		}

	}
}




//////////////////////

// topics

/////////////////////

.topics
{
	padding-top: 10px;
	padding-bottom: 10px;
	
	ul{
		margin: 0;
		padding: 0;
	}
	
	a{
		color: inherit
	}
	.wrap{
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.update{
		line-height: 1;
		font-size: $small;

		&_date,
		&_info
		{
			display: inline-block;
			vertical-align: middle;
		}
		&_date{
			margin-right: 30px;
			color: $gray_primary;
			font-family: $din_medium;
			font-size: 1.1em;
		}

		&_info{
			margin-left: 0;
		}

	}	

	.slick-slide{
		transition: transition();
		// transform: translateX(10px);
	}
	.slick-slide.slick-current{
		transform: translateX(0);
	}

}



//////////////////////

// intro

/////////////////////

.introduction{
	margin-bottom: 115px;
	padding-top: 75px;
	padding-bottom: 75px;
	position: relative;
	text-align: center;
	overflow: hidden;
	color: #fff;
	text-shadow: 0 0 10px rgba(#000,0.3);
	@extend %dullgradation;
	
	canvas{
		overflow: hidden;
		// max-width: 100%;
		// height: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		opacity: 0.15;
		mix-blend-mode: overlay;
	}
	
	@include break( tab ){
		margin-bottom: 50px;
		padding-top: 55px;
		padding-bottom: 55px;
	}

	
	&_index{
		margin-bottom: 40px;
		position: relative;
		z-index: 1;
		font-family: $din_medium;
		letter-spacing: 0.33em;
		font-size: $xlarge;
		
		@include break( tab ){
			letter-spacing: 0.2em;
			margin-bottom: 25px;
			font-size: 1.4em;
		}

	}

	&_content{
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
		z-index: 1;
		font-feature-settings: "palt";
		letter-spacing: 0.25em;
		line-height: 2em;
	}
	
}


//////////////////////

// link

/////////////////////

.siteMap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;

	@include break( tab ){
		flex-wrap: wrap;
	}
	

	li{
		width: calc( 25% - 45px);
		line-height: 1;
		display: block;
		
		@include break( tab ){
			width: 48%;
		}
		
		a{
			padding-top: 50px;
			padding-right: 30px;
			padding-bottom: 50px;
			position: relative;
			display: block;
			border: {
				top: solid 1px $border;
				bottom: solid 1px $border;
			};
			color: inherit;
			
			@include break( tab ){
				padding-top: 25px;
				padding-bottom: 25px;
				border-top: none;
			}

			@include mouseOver(){
				&:before{
					width: 100%;
				}

				.siteMap_en{
					@supports (-webkit-background-clip: text){
						color: transparent;
						background-size: 100%;
						background-position: 100% 0;
					}					
				}
			}

			&:before{
				content: " ";
				width: 0%;
				height: 100%;
				line-height: 1;
				position: absolute;
				top: -1px;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				transition: transition();
				border-top: solid 1px $blue;
				border-bottom: solid 1px $blue;
			}

			
			&:after{
				content: "";
				width: 30px;
				height: 10px;
				margin: auto;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				background: url( ../img/icon-arrow-next.svg) center center no-repeat;
				background-size: 100% auto;
				
				@include break( tab ){
					width: 25px;
					right: 10px;
				}

			}
		}
		
	}

	&_en{
		margin-top: 0;
		margin-bottom: 10px;
		letter-spacing: 0.15em;
		color: $blue;
		position: relative;
		overflow: hidden;
		font-size: $xlarge;
		font-family: $din_bold;
		transition: transition();
		@supports (-webkit-background-clip: text){
			-webkit-background-clip: text;
			      background-clip: text;		
			background-position: -100% 0;
			@include background-image( linear-gradient( to right, $blue, $green ) );	
			
		}
		
		@include break( tab ){
			font-size: 1.5em;
		}		
	}

	&_ja{
		margin-top: 0;
		margin-bottom: 0;
		letter-spacing: 0.15em;
		color: $gray_primary;
	}
}


}