  
   <footer class="siteFooter<% if( hasGradation == true ){%> hasGradation<%}%>">
         <!-- ***** contact -->
         <section id="contact" class="inquiry section section-contact">
            <div class="wrap">
               <header>
                  <h2 class="section_index">CONTACT</h2>
                  <p class="section_caption">当サイトに関するお問い合わせやアドバイス、<br>雑談ほか、デザイン作成依頼、イベントのお誘いはこちらから。</p>
               </header>            
               <header class="inquiry_index">
                  <h3 class="inquiry_index_text">ASK ME ANYTHING!</h3>
               </header>
               <div class="inquiry_content">
                  <div class="inquiry_content_form">
                     <form class="siteForm" action="">
                        <div class="siteForm_row">
                           <label  class="siteForm_label" for="name">
                              <span>Name</span>
                           </label>
                           <div class="siteForm_input">
                              <input placeholder="name" type="text" id="name">
                           </div>
                        </div>
                        <div class="siteForm_row">
                           <label  class="siteForm_label" for="email">
                              <span>Email</span>
                           </label>
                           <div class="siteForm_input">
                              <input type="email" id="email">
                           </div>
                        </div>                        
                        <div class="siteForm_row">
                           <label  class="siteForm_label" for="sub">
                              <span>Subject</span>
                           </label>
                           <div class="siteForm_input">
                              <select name="" id="sub">
                                 <option value="あああ">サイトに関して</option>
                                 <option value="お仕事のご依頼">お仕事のご依頼</option>
                                 <option value="おすすめのカフェ、コーヒー豆">おすすめのカフェ、コーヒー豆</option>                              
                              </select>
                           </div>
                        </div>
                         <div class="siteForm_row">
                           <label  class="siteForm_label" for="message">
                              <span>Message</span>
                           </label>
                           <div class="siteForm_input">
                              <textarea name="" id="message" cols="30" rows="1"></textarea>
                           </div>
                        </div>
                        <!-- <div class=" siteForm_row-button">
                           <button class="siteForm_button button button-form"><input type="submit" value="confirm"></button>
                        </div> -->
<div class="siteForm_row-button"><input type="button" value="return" class="wpcf7-form-control wpcf7-back siteForm_button button button-form wpcf7c-elm-step2 wpcf7c-btn-back wpcf7c-force-hide"><input type="submit" value="confirm" class="wpcf7-form-control wpcf7-confirm siteForm_button button button-form wpcf7c-elm-step1 wpcf7c-btn-confirm"><input type="submit" value="submit!" class="wpcf7-form-control wpcf7-submit siteForm_button button button-form wpcf7c-elm-step2 wpcf7c-force-hide"><span class="ajax-loader"></span></div>                        
                     </form>
                  </div>
               </div>
               <footer class="inquiry_footer">
                  <ul class="mySns">
                     <li ><a class="mySns_twitter icon-twitter" href=""></a></li>
                     <li ><a class="mySns_instagram icon-instagram" href=""></a></li>
                  </ul>
               </footer>
            </div>
         </section>
         <!-- ///// contact -->

         <section class="credit">
            <div class="credit_top">
               <figure><img src="<%= $path %>common/img/face.png" width="41" alt=""></figure>
            </div>
            <div class="credit_bottom footer_copyright">
               <div class="copyright wfLight"> COPYRIGHT satohmsys &copy; ALL RIGHTS RESERVED. </div>
            </div>
         </section>
      </footer>         