      <!-- ***** sns -->
      <section class="sns">
         <ul class="snsList">
            <li><a href="https://twitter.com/donatello04" target="_blank" class="icon-twitter"></a></li>
            <li><a href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BEDonatello-1103021019747652/" target="_blank" class="icon-facebook"></a></li>
         </ul>
      </section>
      <!-- ///// sns -->
      <footer class="siteFooter">
         <div class="wrap">
            <header class="siteFooter_ci">
               <figure class="ci -new"><img src="<%- $path %>common/img/logo.svg" width="200" alt="Donatello"></figure>
               <figure class="ci -old"><img src="<%- $path %>common/img/logo-old.png" width="50" alt=""></figure>
            </header>
            <section>
               <header>
                  <h2 class="siteFooter_info">
                     <%- $keyword %>
                  </h2>
               </header>
               <div class="siteFooter_address">
                  <address class="address">
                     東京都港区白金1-15-29 天翔白金ビル203 <a href="https://goo.gl/maps/wRooUCdp5B82" target="_blank"><i class="icon-address"></i></a>
                  </address>
                  <a href="" class="button -inquiry">
                     <button role="link" >
                        システム開発、SESのお問い合わせ
                     </button>
                     <svg version="1.1" class="button_arrow" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15px" height="2px" viewBox="0 0 15 2">
                        <polyline fill="none" stroke="#FFF" stroke-miterlimit="10" points="0,2 15,2 13,0"/>
                     </svg>
                  </a>
               </div>
            </section>
            <section>
               <nav class="siteFooter_nav">
                  <ul class="nav">
                     <li><a href="<%# $path %>/about/">会社概要</a></li>
                     <li><a href="<%# $path %>/business/">事業内容</a></li>
                     <li><a href="<%# $path %>/works/">実績</a></li>
                     <li><a href="<%# $path %>/recruit/">採用情報</a></li>
                     <li><a href="<%# $path %>/inquiry/">お問い合わせ</a></li>
                  </ul>                  
               </nav>
            </section>
            <footer class="siteFooter_copyright">
               &copy; Donatello co.ltd, All Rights Reserved.
            </footer>
         </div>
      </footer>         
      <div class="backToTop"><i></i></div>