<% isChild == 'undefined' ? isChild = false : ''; %><header class="siteHeader">
   <div class="wrap">
      <% if( isChild ){ %>
      <h1 class="siteHeader_word"><%= $keyword %></h1>
      <% } %>
      <p class="siteHeader_logo">
         <a href="<%- $path %>">
            <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150px" height="20px" viewBox="0 0 150 20" xml:space="preserve">
               <g>
                  <g>
                     <path class="st0" d="M14.4,4.9L8.8,1.7C8.5,1.6,8.1,1.5,7.7,1.5c-0.4,0-0.8,0.1-1.1,0.3L1.1,4.9C0.5,5.3,0,6.1,0,6.8v6.4
                        c0,0.7,0.5,1.5,1.1,1.9l5.6,3.2c0.3,0.2,0.7,0.3,1.1,0.3c0.4,0,0.8-0.1,1.1-0.3l5.6-3.2c0.6-0.3,1.1-1.2,1.1-1.9V6.8
                        C15.4,6.1,14.9,5.3,14.4,4.9z M11.9,12.4l-4.2,2.4l-1.3-0.8V6l1.3-0.8l4.2,2.4V12.4z"/>
                  </g>
                  <g>
                     <path class="st0" d="M24.9,5.2l4.2,2.4v4.8l-4.2,2.4l-4.2-2.4V7.6L24.9,5.2 M24.9,1.5c-0.4,0-0.8,0.1-1.1,0.3l-5.6,3.2
                        c-0.6,0.3-1.1,1.2-1.1,1.9v6.4c0,0.7,0.5,1.5,1.1,1.9l5.6,3.2c0.3,0.2,0.7,0.3,1.1,0.3c0.4,0,0.8-0.1,1.1-0.3l5.6-3.2
                        c0.6-0.3,1.1-1.2,1.1-1.9V6.8c0-0.7-0.5-1.5-1.1-1.9L26,1.7C25.7,1.6,25.3,1.5,24.9,1.5L24.9,1.5z"/>
                  </g>
                  <path class="st0" d="M66.3,4.9l-5.6-3.2c-0.3-0.2-0.7-0.3-1.1-0.3c-0.4,0-0.8,0.1-1.1,0.3L53,4.9C52.4,5.3,52,6.1,52,6.8v6.4
                     c0,0.7,0.5,1.5,1.1,1.9l5.6,3.2c0.3,0.2,0.7,0.3,1.1,0.3c0.4,0,0.8-0.1,1.1-0.3l3.1-1.8v1.4c0,0.3,0.2,0.5,0.5,0.5h2.5
                     c0.3,0,0.5-0.2,0.5-0.5v-4.7v-2V6.8C67.4,6.1,66.9,5.3,66.3,4.9z M59.7,14.8l-4.2-2.4V7.6l4.2-2.4l4.2,2.4v3.7v1.2L59.7,14.8z"/>
                  <path class="st0" d="M90.2,7.5l3.8-2.2c0.1-0.1,0.2-0.1,0.4,0l3.8,2.2c0.1,0,0.1,0,0.2,0h3.2c0.2,0,0.4-0.2,0.4-0.4V7
                     c0-0.8-0.6-1.8-1.3-2.2l-5.4-3.1c-0.3-0.2-0.7-0.3-1.1-0.3c-0.4,0-0.8,0.1-1.1,0.3l-5.4,3.1c-0.7,0.4-1.3,1.4-1.3,2.2v6
                     c0,0.8,0.6,1.8,1.3,2.2l5.4,3.1c0.3,0.2,0.7,0.3,1.1,0.3c0.4,0,0.8-0.1,1.1-0.3l5.4-3.1c0.7-0.4,1.3-1.4,1.3-2.2v-0.2
                     c0-0.2-0.2-0.4-0.4-0.4h-3.2c-0.1,0-0.1,0-0.2,0l-3.8,2.2c-0.1,0.1-0.2,0.1-0.4,0l-3.8-2.2c-0.1-0.1-0.2-0.2-0.2-0.3v-0.4h5.3
                     c0.3,0,0.5-0.2,0.5-0.5V8.8c0-0.3-0.2-0.5-0.5-0.5h-5.3V7.8C90.1,7.7,90.1,7.6,90.2,7.5z"/>
                  <path class="st0" d="M83.5,5l-5.4-3.1c-0.3-0.2-0.7-0.3-1.1-0.3c-0.4,0-0.8,0.1-1.1,0.3L70.6,5c-0.7,0.4-1.3,1.4-1.3,2.2v2.4
                     c0,0.2,0.2,0.4,0.4,0.4h2.8c0.2,0,0.4-0.2,0.4-0.4V8c0-0.1,0.1-0.2,0.2-0.3l2.1-1.2v10.5c0,0.9,0.7,1.6,1.6,1.6h0.4
                     c0.9,0,1.6-0.7,1.6-1.6V6.4L81,7.7c0.1,0.1,0.2,0.2,0.2,0.3v1.6c0,0.2,0.2,0.4,0.4,0.4h2.8c0.2,0,0.4-0.2,0.4-0.4V7.2
                     C84.8,6.4,84.2,5.4,83.5,5z"/>
                  <g>
                     <path class="st0" d="M142.3,5.2l4.2,2.4v4.8l-4.2,2.4l-4.2-2.4V7.6L142.3,5.2 M142.3,1.5c-0.4,0-0.8,0.1-1.1,0.3l-5.6,3.2
                        c-0.6,0.3-1.1,1.2-1.1,1.9v6.4c0,0.7,0.5,1.5,1.1,1.9l5.6,3.2c0.3,0.2,0.7,0.3,1.1,0.3c0.4,0,0.8-0.1,1.1-0.3l5.6-3.2
                        c0.6-0.3,1.1-1.2,1.1-1.9V6.8c0-0.7-0.5-1.5-1.1-1.9l-5.6-3.2C143.1,1.6,142.7,1.5,142.3,1.5L142.3,1.5z"/>
                  </g>
                  <g>
                     <path class="st0" d="M48.7,5l-5.4-3.1c-0.3-0.2-0.7-0.3-1.1-0.3c-0.4,0-0.8,0.1-1.1,0.3L35.8,5c-0.7,0.4-1.3,1.4-1.3,2.2v6
                        c0,0.8,0.6,1.8,1.3,2.2l4.2,2.4c0.2,0.1,0.5,0,0.5-0.3v-3.3c0-0.1-0.1-0.2-0.2-0.3l-2-1.2c-0.1-0.1-0.2-0.2-0.2-0.3V8
                        c0-0.1,0.1-0.2,0.2-0.3l3.8-2.2c0.1-0.1,0.2-0.1,0.4,0l3.8,2.2c0.1,0.1,0.2,0.2,0.2,0.3v4.4c0,0.1-0.1,0.2-0.2,0.3l-2,1.2
                        c-0.1,0.1-0.2,0.2-0.2,0.3v3.3c0,0.3,0.3,0.4,0.5,0.3l4.2-2.4C49.4,15,50,14,50,13.2v-6C50,6.4,49.4,5.4,48.7,5z"/>
                  </g>
                  <path class="st0" d="M118.1,14.8l-3.2-1.7c-0.1,0-0.2,0-0.2,0l-3.1,1.8c-0.1,0-0.2,0-0.2,0l-3.9-2.3c-0.1,0-0.1-0.1-0.1-0.2V5.9
                     c0,0,0,0,0,0V3.5V2.9V2c0-0.2-0.1-0.3-0.3-0.2l-1.7,1c0,0,0,0,0,0L105,3c-0.7,0.4-1.2,1.3-1.2,2.1v8.2c0,0.8,0.5,1.7,1.2,2.1
                     l5.4,3.1c0.3,0.2,0.7,0.3,1.1,0.3c0.4,0,0.8-0.1,1.1-0.3l5.6-3.2c0,0,0,0,0,0C118.3,15.2,118.3,14.9,118.1,14.8z"/>
                  <path class="st0" d="M133.5,14.8l-3.2-1.7c-0.1,0-0.2,0-0.2,0l-3.1,1.8c-0.1,0-0.2,0-0.2,0l-3.9-2.3c-0.1,0-0.1-0.1-0.1-0.2V5.9
                     c0,0,0,0,0,0V3.5V3.4V2c0-0.2-0.1-0.3-0.3-0.2l-1.5,0.9l0,0L120.3,3c-0.7,0.4-1.2,1.3-1.2,2.1v8.2c0,0.8,0.5,1.7,1.2,2.1l5.4,3.1
                     c0.3,0.2,0.7,0.3,1.1,0.3c0.4,0,0.8-0.1,1.1-0.3l5.6-3.2c0,0,0,0,0,0C133.7,15.2,133.7,14.9,133.5,14.8z"/>
               </g>
            </svg>
         </a>
      </p>
      <nav class="siteHeader_nav">
         <ul class="nav">
            <li<% if($active == 'about'){ %> class="current"<%}%>><a href="/<%# $path %>about/">会社概要</a></li>
            <li<% if($active == 'business'){ %> class="current"<%}%>><a href="/<%# $path %>business/">事業内容</a></li>
            <li<% if($active == 'works'){ %> class="current"<%}%>><a href="/<%# $path %>works/">実績</a></li>
            <li<% if($active == 'recruit'){ %> class="current"<%}%>><a href="/<%# $path %>recruit/">採用情報</a></li>
            <li<% if($active == 'inquiry'){ %> class="current"<%}%>><a href="/<%# $path %>inquiry/">お問い合わせ</a></li>
         </ul>
      </nav>
   </div>
</header>