
      <div id="myIntroduction" class="myIntroduction">
         <div class="wrap">
            <header class="myIntroduction_index">
            
               <p class="indexHello text-1">
                  <svg viewBox="0 0 332 70">
                    <defs>
                       <linearGradient id="g0">
                          <stop offset="0" stop-color="#0eff9e"/>
                          <stop offset="0.9" stop-color="#00d8fd"/>
                       </linearGradient>
                     </defs>
                     <g font-family="woodford ultra">
                       <text text-anchor="middle" x="166" y="55" fill=url(#g0) style="line-height: 1">
                         Hello!
                       </text>
                     </g>
                  </svg>
               </p>
               <p class="indexMyname text-2">I'm satohmsys.</p>
            </header>
            <div class="myIntroduction_content">
               <p class="row text-3">こんにちは！東京のWebデザイナー、<br class="spShow">サトウマサヤスです。</p>
               <p class="row text-4">
                  このサイトにたどり着いたのも、何かのご縁。<br>
                  ちょっと数クリックだけでも、<br class="spShow">お付き合いいただけませんか。
               </p>
               <p class="row text-5">
                  もしかしたら、一緒に、ゆっくりと<br>コーヒーが飲めるかもしれません。
               </p>
               <p class="row text-6">
                  もしかしたら、一緒に、なにかを<br>クリエイティブで<br class="spShow">変えていけるかもしれません。
               </p>
               <p id="just" class="row text-7">
                  なので、ちょっとだけでも。
               </p>
            </div>
         </div>
         <i class="myIntroduction_overlay myIntroduction_overlay-before"></i>
         <i class="myIntroduction_overlay myIntroduction_overlay-after"></i>
      </div>