<!-- ***** mainvisual -->
<section class="headingArea">
   <div class="wrap">
      <div class="headingArea_copy">
         <p class="headingArea_copy_en">
            <%- copy.en %>
         </p>
         <h2 class="headingArea_copy_ja"><%- copy.ja %></h2>
      </div>
   </div>
   <canvas class="pattern"></canvas>
</section>
<!-- ///// mainvisual  -->