<%
   hasGradation = false,
   $scripts = new Array(),
   $scripts_global=new Array();

   $meta = {
      title: 'satohmsys portfolio',
      description: 'ディスクリプション',
      keywords: 'Webデザイン,Webデザイナー,東京,フリーランス,コーディング,ホームページ制作,個人',
      og:{
         title: 'og title',
         sitename: 'og sitenmae',
         description: 'og desc',
         type: 'website',
         image: 'image',
         url: 'og url'
      },
      twitter:{
         title: '',
         description: 'twitter: des',
         image: '',
      }
   }

   $parts = {
      toggle: '<div class="navToggle" data-navtype="fade"><div class="navToggle_hitArea"><div class="navToggle_icon"><i class="navToggle_icon_lineCenter"></i></div></div></div>',
      backtotop: '<div class="backToTop"><i></i></div>',
      fixedsns: '<div class="fixedSns"><div class="fixedSns_index">Share on</div><ul class="mySns fixedSns_sns"><li><a class="mySns_twitter icon-twitter" href="https://twitter.com/share?url=&text=東京のWebデザイナー サトウマサヤス (@satohmsys) ポートフォリオサイト&related=satohmsys" target="_blank" onClick="window.open( encodeURI(decodeURI(this.href)), "sharewindow", "width=550, height=450, personalbar=0,  toolbar=0, scrollbars=1, resizable=!"); return false;"></a></li><li><a class="mySns_facebook icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=" onClick="window.open( encodeURI(decodeURI(this.href)),"sharewindow","width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!"); return false;" target="_blank"></a></li> </ul></div>',
      loadingAnim: '<div id="loadingAnim" class="loadingAnim"><div class="dots"><div class="dot dot-1"></div><div class="dot dot-2"></div><div class="dot dot-3"></div></div><svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none;"><defs><filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" /><feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/></filter></defs></svg></div>'
   }
%>